.header-wrapper
	width: 100%
	padding: 20px 10%
	display: flex
	justify-content: space-between
	align-items: center
	gap: 20px
	background: #fff
	box-shadow: 0 4px 30px -10px rgba(0, 0, 0, 0.2)

	h1
		font-size: 24px

	img
		width: 300px
		height: 100px

	.left-container
		display: flex
		align-items: center
		gap: 15px

		h3
			font-size: 24px

	.right-container
		display: flex