{% extends 'base.html' %}

{% block title %}Каталог услуг ITCS{% endblock %}

{% block content %} 
<div class="search">
<form method="get" action="{% url 'services' %}" enctype="multipart/form-data" class="line_s">
    {% csrf_token %}
    <input name="keyword" type="text" class= "form" placeholder="Введите наименование услуги">
    <input type="submit" class = "btn_search" style="vertical-align: 0.5px;" value="Искать">
  </form>
</div>
<ul>
     {% for service in data.services %}
       {% include 'service_element.html' with element=service %}
    {% empty %}
    <p></p>
    <div>
      <button type="button" class="btn_back" onclick="window.location.href = '/'">Назад</button>
    </div>
        <p class="service_card-text">К сожалению, по вашему запросу не удалось ничего найти :(</p>
    {% endfor %}
</ul>
{% endblock %}